**Практическая работа 4. Проектирование сквозного конвейера ETL на Python и Airflow.**

**Задание 4.2.** Basic pipeline ETL

4.2.1. **часть 1** Построить конвейер данных на основании Basic pipeline ETL.rar

**часть 2** Набор данных использовать из Практическая работа 3. Работа с API. Тестовые наборы данных Kaggle API

4.2.2. Результаты работы представить в виде файла ФИО.ipynb, выгрузить в учебный портал moodle.

## **Задание 4.2.1. Часть 1.**
Построить конвейер данных на основании Basic pipeline ETL.rar

### What is ETL?

ETL is actually short form of Extract, Transform and Load, a process in which data is acquired, changed/processes and then finally get loaded into data warehouse/database(s).

You can extract data from data sources like Files, Website or some Database, transform the acquired data and then load the final version into database for business usage.

You may ask, Why ETL?, well, what ETL does, many of you might already been doing one way or other by writing different functions/scripts to perform tasks but one of the main advantage of ETLs is visualizing your entire data flow pipeline thus help you make decisions according to that.

Let's start with building our own ETL pipeline.
* Extract data from CSV file
* Transform/Manipulate Data
* Load Data into MongoDB

In [ ]:
# to read data from csv, python provides csv module
import csv

To deal with files in Python, we use the open() function, it’s a built-in Python function. This function accepts two different arguments (inputs) in the parentheses, always in the following order:
* the name of the file (as a string)
* the mode of working with the file (as a string)

The syntax to open a file in python is:

file_obj = open(“filename”, “mode”)

In [ ]:
import csv

with open('/content/crypto-markets.csv', 'r') as f:
    csv_reader = csv.reader(f)
    row_count = 0
    for row in csv_reader:
        if row_count < 14:
            print(row)
            row_count += 1
        else:
            break

['slug', 'symbol', 'name', 'date', 'ranknow', 'open', 'high', 'low', 'close', 'volume', 'market', 'close_ratio', 'spread']
['bitcoin', 'BTC', 'Bitcoin', '2013-04-28', '1', '135.3', '135.98', '132.1', '134.21', '0', '1488566728', '0.5438', '3.88']
['bitcoin', 'BTC', 'Bitcoin', '2013-04-29', '1', '134.44', '147.49', '134', '144.54', '0', '1603768865', '0.7813', '13.49']
['bitcoin', 'BTC', 'Bitcoin', '2013-04-30', '1', '144', '146.93', '134.05', '139', '0', '1542813125', '0.3843', '12.88']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-01', '1', '139', '139.89', '107.72', '116.99', '0', '1298954594', '0.2882', '32.17']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-02', '1', '116.38', '125.6', '92.28', '105.21', '0', '1168517495', '0.3881', '33.32']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-03', '1', '106.25', '108.13', '79.1', '97.75', '0', '1085995169', '0.6424', '29.03']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-04', '1', '98.1', '115', '92.5', '112.5', '0', '1250316563', '0.8889', '22.5']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-05', '1', '112.9', '118.8', '107.14', '115.91', '0', '1288693176', '0.7521', '11.66']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-06', '1', '115.98', '124.66', '106.64', '112.3', '0', '1249023060', '0.3141', '18.02']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-07', '1', '112.25', '113.44', '97.7', '111.5', '0', '1240593600', '0.8767', '15.74']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-08', '1', '109.6', '115.78', '109.6', '113.57', '0', '1264049202', '0.6424', '6.18']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-09', '1', '113.2', '113.46', '109.26', '112.67', '0', '1254535382', '0.8119', '4.2']
['bitcoin', 'BTC', 'Bitcoin', '2013-05-10', '1', '112.8', '122', '111.55', '117.2', '0', '1305479080', '0.5407', '10.45']

In [ ]:
f = open(r'/content/crypto-markets.csv')
# 'f' is a file handler here

csv_reader = csv.reader(f)
print(csv_reader)

<_csv.reader object at 0x7c51da5c3d80>

Transforming/Changing the data.

In [ ]:
assetsCode = ['BTC','ETH','XRP','LTC']

# initialize empty list
crypto_data = []

next(csv_reader, None)  # skips the headers

# read csv data row wise
for row in csv_reader:
    if(row[1] in assetsCode):  # check if current row consist of either 'BTC' or 'ETH' or 'XRP' or 'LTC' currency data
        # convert open, high, low, close amount to float type first from str and then convert it into GBP
        row[5] = float(row[5]) * 0.75
        row[6] = float(row[6]) * 0.75
        row[7] = float(row[7])* 0.75
        row[8] = float(row[8]) * 0.75
        crypto_data.append(row)

# print(csv_reader.line_num)
print(len(crypto_data))
print(crypto_data[0:2])

7239
[['bitcoin', 'BTC', 'Bitcoin', '2013-04-28', '1', 101.47500000000001, 101.98499999999999, 99.07499999999999, 100.6575, '0', '1488566728', '0.5438', '3.88'], ['bitcoin', 'BTC', 'Bitcoin', '2013-04-29', '1', 100.83, 110.6175, 100.5, 108.405, '0', '1603768865', '0.7813', '13.49']]

Loading the data into SQL DB

In [ ]:
import sqlite3

# connect function opens a connection to the SQLite database file,
conn = sqlite3.connect('session.db')
#Similarly we will make connection with other databases like Oracle, DB2 etc.

In [ ]:
# Drop a table name Crypto id it exists already
try:
    conn.execute('DROP TABLE IF EXISTS `Crypto` ')
except Exception as e:
    print(str(e))

In [ ]:
# Create a new Table named as Crypto
try:
    conn.execute('''
         CREATE TABLE Crypto
         (ID         INTEGER PRIMARY KEY,
         NAME        TEXT    NOT NULL,
         Date        datetime,
         Open        Float DEFAULT 0,
         High        Float DEFAULT 0,
         Low         Float DEFAULT 0,
         Close       Float DEFAULT 0);''')
    print ("Table created successfully");
except Exception as e:
    print(str(e))
    print('Table Creation Failed!!!!!')
finally:
    conn.close() # this closes the database connection

Table created successfully

In [ ]:
# Since our crypto data contains more information than required so we need eliminate some of it.
print(crypto_data[0])

['bitcoin', 'BTC', 'Bitcoin', '2013-04-28', '1', 101.47500000000001, 101.98499999999999, 99.07499999999999, 100.6575, '0', '1488566728', '0.5438', '3.88']

In [ ]:
# Some more transformations
crypto_sql_data = [(row[2], row[3], row[5], row[6], row[7], row[8]) for row in crypto_data]
crypto_sql_data[:2]

[('Bitcoin',
  '2013-04-28',
  101.47500000000001,
  101.98499999999999,
  99.07499999999999,
  100.6575),
 ('Bitcoin', '2013-04-29', 100.83, 110.6175, 100.5, 108.405)]

In [ ]:
# lets make new connection to Insert crypto data in SQL DB
conn = sqlite3.connect('session.db')
cur = conn.cursor()
try:
    cur.executemany("INSERT INTO Crypto(NAME, Date, Open, High, Low, Close) VALUES (?,?,?,?,?,?)", crypto_sql_data)
    conn.commit()
    print('Data Inserted Successfully')
except Exception as e:
    print(str(e))
    print('Data Insertion Failed')
finally:
    conn.close()

Data Inserted Successfully

In [ ]:
# Let's Read data from DB to verify it
conn = sqlite3.connect('session.db')
rows = conn.cursor().execute('SELECT * FROM Crypto').fetchall()
#for row in rows:
    #print(row)
count = 0
for i, row in enumerate(rows):
    if i < 15:
        print(row)
    count += 1

print(f"Total rows: {count}")

(1, 'Bitcoin', '2013-04-28', 101.47500000000001, 101.98499999999999, 99.07499999999999, 100.6575)
(2, 'Bitcoin', '2013-04-29', 100.83, 110.6175, 100.5, 108.405)
(3, 'Bitcoin', '2013-04-30', 108.0, 110.1975, 100.53750000000001, 104.25)
(4, 'Bitcoin', '2013-05-01', 104.25, 104.91749999999999, 80.78999999999999, 87.74249999999999)
(5, 'Bitcoin', '2013-05-02', 87.285, 94.19999999999999, 69.21000000000001, 78.9075)
(6, 'Bitcoin', '2013-05-03', 79.6875, 81.0975, 59.324999999999996, 73.3125)
(7, 'Bitcoin', '2013-05-04', 73.57499999999999, 86.25, 69.375, 84.375)
(8, 'Bitcoin', '2013-05-05', 84.67500000000001, 89.1, 80.355, 86.9325)
(9, 'Bitcoin', '2013-05-06', 86.985, 93.495, 79.98, 84.225)
(10, 'Bitcoin', '2013-05-07', 84.1875, 85.08, 73.275, 83.625)
(11, 'Bitcoin', '2013-05-08', 82.19999999999999, 86.83500000000001, 82.19999999999999, 85.1775)
(12, 'Bitcoin', '2013-05-09', 84.9, 85.095, 81.94500000000001, 84.5025)
(13, 'Bitcoin', '2013-05-10', 84.6, 91.5, 83.6625, 87.9)
(14, 'Bitcoin', '2013-05-11', 88.275, 89.01, 84.75750000000001, 86.42999999999999)
(15, 'Bitcoin', '2013-05-12', 86.73, 88.0875, 85.0725, 86.25)
Total rows: 7239

Write data in a csv file

In [ ]:
csvfile = open('Crypto.csv', 'w')
csv_writer = csv.writer(csvfile, lineterminator='\r')
# Now we can write data to files using two methods:
# writerow() or writerows()
# writerow() is used when we need to write one-dimension data such as a single list :[1, ‘Jerry’, 95]
# writerows() is used when we need to write multi-dimension data such as list of list [[1, ‘Jerry’, 95], [2, ‘Tom’, 80], [3, ‘Scooby’, 90]]
# So the only difference is that writerows() lets you pass multiple values!
csv_writer.writerow(['Name', 'Date', 'Open', 'High', 'Low', 'Close'])
csv_writer.writerows(crypto_sql_data)
csvfile.close()

## **Задание 4.2.1. Часть 2.**
Построить конвейер данных, используя набор данных из "Практическая работа 3. Работа с API. Тестовые наборы данных Kaggle API"

Вариант 10. Home & Living

По итогу выполнения практической работы 3 был сформирован файл clear.csv.
Используем его:

Просмотрим содержимое файла:

In [ ]:
import csv
with open('clear.csv', newline='') as csvfile:
    csv_reader1 = csv.reader(csvfile, delimiter=',')

    for row in csv_reader1:
        print(row)

['HDI rank', 'Country', 'HUMAN DEVELOPMENT', 'Human Development Index (HDI) ', 'Life expectancy at birth', 'Expected years of schooling', 'Mean years of schooling', 'Gross national income (GNI) per capita']
['1', 'Switzerland', 'VERY HIGH ', '0.962', '84.0', '16.5', '13.9', '66933.0']
['2', 'Norway', 'VERY HIGH ', '0.961', '83.2', '18.2', '13.0', '64660.0']
['3', 'Iceland', 'VERY HIGH ', '0.959', '82.7', '19.2', '13.8', '55782.0']
['4', 'Hong Kong, China (SAR)', 'VERY HIGH ', '0.952', '85.5', '17.3', '12.2', '62607.0']
['5', 'Australia', 'VERY HIGH ', '0.951', '84.5', '21.1', '12.7', '49238.0']
['6', 'Denmark', 'VERY HIGH ', '0.948', '81.4', '18.7', '13.0', '60365.0']
['7', 'Sweden', 'VERY HIGH ', '0.947', '83.0', '19.4', '12.6', '54489.0']
['8', 'Ireland', 'VERY HIGH ', '0.945', '82.0', '18.9', '11.6', '76169.0']
['9', 'Germany', 'VERY HIGH ', '0.942', '80.6', '17.0', '14.1', '54534.0']
['10', 'Netherlands', 'VERY HIGH ', '0.941', '81.7', '18.7', '12.6', '55979.0']
['11', 'Finland', 'VERY HIGH ', '0.94', '82.0', '19.1', '12.9', '49452.0']
['12', 'Singapore', 'VERY HIGH ', '0.939', '82.8', '16.5', '11.9', '90919.0']
['13', 'Belgium', 'VERY HIGH ', '0.937', '81.9', '19.6', '12.4', '52293.0']
['13', 'New Zealand', 'VERY HIGH ', '0.937', '82.5', '20.3', '12.9', '44057.0']
['15', 'Canada', 'VERY HIGH ', '0.936', '82.7', '16.4', '13.8', '46808.0']
['16', 'Liechtenstein', 'VERY HIGH ', '0.935', '83.3', '15.2', '12.5', '146830.0']
['17', 'Luxembourg', 'VERY HIGH ', '0.93', '82.6', '14.4', '13.0', '84649.0']
['18', 'United Kingdom', 'VERY HIGH ', '0.929', '80.7', '17.3', '13.4', '45225.0']
['19', 'Japan', 'VERY HIGH ', '0.925', '84.8', '15.2', '13.4', '42274.0']
['19', 'Korea (Republic of)', 'VERY HIGH ', '0.925', '83.7', '16.5', '12.5', '44501.0']
['21', 'United States', 'VERY HIGH ', '0.921', '77.2', '16.3', '13.7', '64765.0']
['22', 'Israel', 'VERY HIGH ', '0.919', '82.3', '16.1', '13.3', '41524.0']
['23', 'Malta', 'VERY HIGH ', '0.918', '83.8', '16.8', '12.2', '38884.0']
['23', 'Slovenia', 'VERY HIGH ', '0.918', '80.7', '17.7', '12.8', '39746.0']
['25', 'Austria', 'VERY HIGH ', '0.916', '81.6', '16.0', '12.3', '53619.0']
['26', 'United Arab Emirates', 'VERY HIGH ', '0.911', '78.7', '15.7', '12.7', '62574.0']
['27', 'Spain', 'VERY HIGH ', '0.905', '83.0', '17.9', '10.6', '38354.0']
['28', 'France', 'VERY HIGH ', '0.903', '82.5', '15.8', '11.6', '45937.0']
['29', 'Cyprus', 'VERY HIGH ', '0.896', '81.2', '15.6', '12.4', '38188.0']
['30', 'Italy', 'VERY HIGH ', '0.895', '82.9', '16.2', '10.7', '42840.0']
['31', 'Estonia', 'VERY HIGH ', '0.89', '77.1', '15.9', '13.5', '38048.0']
['32', 'Czechia', 'VERY HIGH ', '0.889', '77.7', '16.2', '12.9', '38745.0']
['33', 'Greece', 'VERY HIGH ', '0.887', '80.1', '20.0', '11.4', '29002.0']
['34', 'Poland', 'VERY HIGH ', '0.876', '76.5', '16.0', '13.2', '33034.0']
['35', 'Bahrain', 'VERY HIGH ', '0.875', '78.8', '16.3', '11.0', '39497.0']
['35', 'Lithuania', 'VERY HIGH ', '0.875', '73.7', '16.3', '13.5', '37931.0']
['35', 'Saudi Arabia', 'VERY HIGH ', '0.875', '76.9', '16.1', '11.3', '46112.0']
['38', 'Portugal', 'VERY HIGH ', '0.866', '81.0', '16.9', '9.6', '33155.0']
['39', 'Latvia', 'VERY HIGH ', '0.863', '73.6', '16.2', '13.3', '32803.0']
['40', 'Andorra', 'VERY HIGH ', '0.858', '80.4', '13.3', '10.6', '51167.0']
['40', 'Croatia', 'VERY HIGH ', '0.858', '77.6', '15.1', '12.2', '30132.0']
['42', 'Chile', 'VERY HIGH ', '0.855', '78.9', '16.7', '10.9', '24563.0']
['42', 'Qatar', 'VERY HIGH ', '0.855', '79.3', '12.6', '10.0', '87134.0']
['44', 'San Marino', 'VERY HIGH ', '0.853', '80.9', '12.3', '10.8', '52654.0']
['45', 'Slovakia', 'VERY HIGH ', '0.848', '74.9', '14.5', '12.9', '30690.0']
['46', 'Hungary', 'VERY HIGH ', '0.846', '74.5', '15.0', '12.2', '32789.0']
['47', 'Argentina', 'VERY HIGH ', '0.842', '75.4', '17.9', '11.1', '20925.0']
['48', 'Türkiye', 'VERY HIGH ', '0.838', '76.0', '18.3', '8.6', '31033.0']
['49', 'Montenegro', 'VERY HIGH ', '0.832', '76.3', '15.1', '12.2', '20839.0']
['50', 'Kuwait', 'VERY HIGH ', '0.831', '78.7', '15.3', '7.3', '52920.0']
['51', 'Brunei Darussalam', 'VERY HIGH ', '0.829', '74.6', '14.0', '9.2', '64490.0']
['52', 'Russian Federation', 'VERY HIGH ', '0.822', '69.4', '15.8', '12.8', '27166.0']
['53', 'Romania', 'VERY HIGH ', '0.821', '74.2', '14.2', '11.3', '30027.0']
['54', 'Oman', 'VERY HIGH ', '0.816', '72.5', '14.6', '11.7', '27054.0']
['55', 'Bahamas', 'VERY HIGH ', '0.812', '71.6', '12.9', '12.6', '30486.0']
['56', 'Kazakhstan', 'VERY HIGH ', '0.811', '69.4', '15.8', '12.3', '23943.0']
['57', 'Trinidad and Tobago', 'VERY HIGH ', '0.81', '73.0', '14.5', '11.6', '23392.0']
['58', 'Costa Rica', 'VERY HIGH ', '0.809', '77.0', '16.5', '8.8', '19974.0']
['58', 'Uruguay', 'VERY HIGH ', '0.809', '75.4', '16.8', '9.0', '21269.0']
['60', 'Belarus', 'VERY HIGH ', '0.808', '72.4', '15.2', '12.1', '18849.0']
['61', 'Panama', 'VERY HIGH ', '0.805', '76.2', '13.1', '10.5', '26957.0']
['62', 'Malaysia', 'VERY HIGH ', '0.803', '74.9', '13.3', '10.6', '26658.0']
['63', 'Georgia', 'VERY HIGH ', '0.802', '71.7', '15.6', '12.8', '14664.0']
['63', 'Mauritius', 'VERY HIGH ', '0.802', '73.6', '15.2', '10.4', '22025.0']
['63', 'Serbia', 'VERY HIGH ', '0.802', '74.2', '14.4', '11.4', '19123.0']
['66', 'Thailand', 'VERY HIGH ', '0.8', '78.7', '15.9', '8.7', '17030.0']
['67', 'Albania', 'HIGH', '0.796', '76.5', '14.4', '11.3', '14131.0']
['68', 'Bulgaria', 'HIGH', '0.795', '71.8', '13.9', '11.4', '23079.0']
['68', 'Grenada', 'HIGH', '0.795', '74.9', '18.7', '9.0', '13484.0']
['70', 'Barbados', 'HIGH', '0.79', '77.6', '15.7', '9.9', '12306.0']
['71', 'Antigua and Barbuda', 'HIGH', '0.788', '78.5', '14.2', '9.3', '16792.0']
['72', 'Seychelles', 'HIGH', '0.785', '71.3', '13.9', '10.3', '25831.0']
['73', 'Sri Lanka', 'HIGH', '0.782', '76.4', '14.1', '10.8', '12578.0']
['74', 'Bosnia and Herzegovina', 'HIGH', '0.78', '75.3', '13.8', '10.5', '15242.0']
['75', 'Saint Kitts and Nevis', 'HIGH', '0.777', '71.7', '15.4', '8.7', '23358.0']
['76', 'Iran (Islamic Republic of)', 'HIGH', '0.774', '73.9', '14.6', '10.6', '13001.0']
['77', 'Ukraine', 'HIGH', '0.773', '71.6', '15.0', '11.1', '13256.0']
['78', 'North Macedonia', 'HIGH', '0.77', '73.8', '13.6', '10.2', '15918.0']
['79', 'China', 'HIGH', '0.768', '78.2', '14.2', '7.6', '17504.0']
['80', 'Dominican Republic', 'HIGH', '0.767', '72.6', '14.5', '9.3', '17990.0']
['80', 'Moldova (Republic of)', 'HIGH', '0.767', '68.8', '14.4', '11.8', '14875.0']
['80', 'Palau', 'HIGH', '0.767', '66.0', '15.8', '12.5', '13819.0']
['83', 'Cuba', 'HIGH', '0.764', '73.7', '14.4', '12.5', '7879.0']
['84', 'Peru', 'HIGH', '0.762', '72.4', '15.4', '9.9', '12246.0']
['85', 'Armenia', 'HIGH', '0.759', '72.0', '13.1', '11.3', '13158.0']
['86', 'Mexico', 'HIGH', '0.758', '70.2', '14.9', '9.2', '17896.0']
['87', 'Brazil', 'HIGH', '0.754', '72.8', '15.6', '8.1', '14370.0']
['88', 'Colombia', 'HIGH', '0.752', '72.8', '14.4', '8.9', '14384.0']
['89', 'Saint Vincent and the Grenadines', 'HIGH', '0.751', '69.6', '14.7', '10.8', '11961.0']
['90', 'Maldives', 'HIGH', '0.747', '79.9', '12.6', '7.3', '15448.0']
['91', 'Algeria', 'HIGH', '0.745', '76.4', '14.6', '8.1', '10800.0']
['91', 'Azerbaijan', 'HIGH', '0.745', '69.4', '13.5', '10.5', '14257.0']
['91', 'Tonga', 'HIGH', '0.745', '71.0', '16.0', '11.4', '6822.0']
['91', 'Turkmenistan', 'HIGH', '0.745', '69.3', '13.2', '11.3', '13021.0']
['95', 'Ecuador', 'HIGH', '0.74', '73.7', '14.6', '8.8', '10312.0']
['96', 'Mongolia', 'HIGH', '0.739', '71.0', '15.0', '9.4', '10588.0']
['97', 'Egypt', 'HIGH', '0.731', '70.2', '13.8', '9.6', '11732.0']
['97', 'Tunisia', 'HIGH', '0.731', '73.8', '15.4', '7.4', '10258.0']
['99', 'Fiji', 'HIGH', '0.73', '67.1', '14.7', '10.9', '9980.0']
['99', 'Suriname', 'HIGH', '0.73', '70.3', '13.0', '9.8', '12672.0']
['101', 'Uzbekistan', 'HIGH', '0.727', '70.9', '12.5', '11.9', '7917.0']
['102', 'Dominica', 'HIGH', '0.72', '72.8', '13.3', '8.1', '11488.0']
['102', 'Jordan', 'HIGH', '0.72', '74.3', '10.6', '10.4', '9924.0']
['104', 'Libya', 'HIGH', '0.718', '71.9', '12.9', '7.6', '15336.0']
['105', 'Paraguay', 'HIGH', '0.717', '70.3', '13.0', '8.9', '12349.0']
['106', 'Palestine, State of', 'HIGH', '0.715', '73.5', '13.4', '9.9', '6583.0']
['106', 'Saint Lucia', 'HIGH', '0.715', '71.1', '12.9', '8.5', '12048.0']
['108', 'Guyana', 'HIGH', '0.714', '65.7', '12.5', '8.6', '22465.0']
['109', 'South Africa', 'HIGH', '0.713', '62.3', '13.6', '11.4', '12948.0']
['110', 'Jamaica', 'HIGH', '0.709', '70.5', '13.4', '9.2', '8834.0']
['111', 'Samoa', 'HIGH', '0.707', '72.8', '12.4', '11.4', '5308.0']
['112', 'Gabon', 'HIGH', '0.706', '65.8', '13.0', '9.4', '13367.0']
['112', 'Lebanon', 'HIGH', '0.706', '75.0', '11.3', '8.7', '9526.0']
['114', 'Indonesia', 'HIGH', '0.705', '67.6', '13.7', '8.6', '11466.0']
['115', 'Viet Nam', 'HIGH', '0.703', '73.6', '13.0', '8.4', '7867.0']
['116', 'Philippines', 'MEDIUM ', '0.699', '69.3', '13.1', '9.0', '8920.0']
['117', 'Botswana', 'MEDIUM ', '0.693', '61.1', '12.3', '10.3', '16198.0']
['118', 'Bolivia (Plurinational State of)', 'MEDIUM ', '0.692', '63.6', '14.9', '9.8', '8111.0']
['118', 'Kyrgyzstan', 'MEDIUM ', '0.692', '70.0', '13.2', '11.4', '4566.0']
['120', 'Venezuela (Bolivarian Republic of)', 'MEDIUM ', '0.691', '70.6', '12.8', '11.1', '4811.0']
['121', 'Iraq', 'MEDIUM ', '0.686', '70.4', '12.1', '7.9', '9977.0']
['122', 'Tajikistan', 'MEDIUM ', '0.685', '71.6', '11.7', '11.3', '4548.0']
['123', 'Belize', 'MEDIUM ', '0.683', '70.5', '13.0', '8.8', '6309.0']
['123', 'Morocco', 'MEDIUM ', '0.683', '74.0', '14.2', '5.9', '7303.0']
['125', 'El Salvador', 'MEDIUM ', '0.675', '70.7', '12.7', '7.2', '8296.0']
['126', 'Nicaragua', 'MEDIUM ', '0.667', '73.8', '12.6', '7.1', '5625.0']
['127', 'Bhutan', 'MEDIUM ', '0.666', '71.8', '13.2', '5.2', '9438.0']
['128', 'Cabo Verde', 'MEDIUM ', '0.662', '74.1', '12.6', '6.3', '6230.0']
['129', 'Bangladesh', 'MEDIUM ', '0.661', '72.4', '12.4', '7.4', '5472.0']
['130', 'Tuvalu', 'MEDIUM ', '0.641', '64.5', '9.4', '10.6', '6351.0']
['131', 'Marshall Islands', 'MEDIUM ', '0.639', '65.3', '10.2', '10.9', '4620.0']
['132', 'India', 'MEDIUM ', '0.633', '67.2', '11.9', '6.7', '6590.0']
['133', 'Ghana', 'MEDIUM ', '0.632', '63.8', '12.0', '8.3', '5745.0']
['134', 'Micronesia (Federated States of)', 'MEDIUM ', '0.628', '70.7', '11.5', '7.8', '3696.0']
['135', 'Guatemala', 'MEDIUM ', '0.627', '69.2', '10.6', '5.7', '8723.0']
['136', 'Kiribati', 'MEDIUM ', '0.624', '67.4', '11.8', '8.0', '4063.0']
['137', 'Honduras', 'MEDIUM ', '0.621', '70.1', '10.1', '7.1', '5298.0']
['138', 'Sao Tome and Principe', 'MEDIUM ', '0.618', '67.6', '13.4', '6.2', '4021.0']
['139', 'Namibia', 'MEDIUM ', '0.615', '59.3', '11.9', '7.2', '8634.0']
['140', "Lao People's Democratic Republic", 'MEDIUM ', '0.607', '68.1', '10.1', '5.4', '7700.0']
['140', 'Timor-Leste', 'MEDIUM ', '0.607', '67.7', '12.6', '5.4', '4461.0']
['140', 'Vanuatu', 'MEDIUM ', '0.607', '70.4', '11.5', '7.1', '3085.0']
['143', 'Nepal', 'MEDIUM ', '0.602', '68.4', '12.9', '5.1', '3877.0']
['144', 'Eswatini (Kingdom of)', 'MEDIUM ', '0.597', '57.1', '13.7', '5.6', '7679.0']
['145', 'Equatorial Guinea', 'MEDIUM ', '0.596', '60.6', '9.7', '5.9', '12074.0']
['146', 'Cambodia', 'MEDIUM ', '0.593', '69.6', '11.5', '5.1', '4079.0']
['146', 'Zimbabwe', 'MEDIUM ', '0.593', '59.3', '12.1', '8.7', '3810.0']
['148', 'Angola', 'MEDIUM ', '0.586', '61.6', '12.2', '5.4', '5466.0']
['149', 'Myanmar', 'MEDIUM ', '0.585', '65.7', '10.9', '6.4', '3851.0']
['150', 'Syrian Arab Republic', 'MEDIUM ', '0.577', '72.1', '9.2', '5.1', '4192.0']
['151', 'Cameroon', 'MEDIUM ', '0.576', '60.3', '13.1', '6.2', '3621.0']
['152', 'Kenya', 'MEDIUM ', '0.575', '61.4', '10.7', '6.7', '4474.0']
['153', 'Congo', 'MEDIUM ', '0.571', '63.5', '12.3', '6.2', '2889.0']
['154', 'Zambia', 'MEDIUM ', '0.565', '61.2', '10.9', '7.2', '3218.0']
['155', 'Solomon Islands', 'MEDIUM ', '0.564', '70.3', '10.3', '5.7', '2482.0']
['156', 'Comoros', 'MEDIUM ', '0.558', '63.4', '11.9', '5.1', '3142.0']
['156', 'Papua New Guinea', 'MEDIUM ', '0.558', '65.4', '10.4', '4.7', '4009.0']
['158', 'Mauritania', 'MEDIUM ', '0.556', '64.4', '9.4', '4.9', '5075.0']
['159', "Côte d'Ivoire", 'MEDIUM ', '0.55', '58.6', '10.7', '5.2', '5217.0']
['160', 'Tanzania (United Republic of)', 'LOW', '0.549', '66.2', '9.2', '6.4', '2664.0']
['161', 'Pakistan', 'LOW', '0.544', '66.1', '8.7', '4.5', '4624.0']
['162', 'Togo', 'LOW', '0.539', '61.6', '13.0', '5.0', '2167.0']
['163', 'Haiti', 'LOW', '0.535', '63.2', '9.7', '5.6', '2848.0']
['163', 'Nigeria', 'LOW', '0.535', '52.7', '10.1', '7.2', '4790.0']
['165', 'Rwanda', 'LOW', '0.534', '66.1', '11.2', '4.4', '2210.0']
['166', 'Benin', 'LOW', '0.525', '59.8', '10.8', '4.3', '3409.0']
['166', 'Uganda', 'LOW', '0.525', '62.7', '10.1', '5.7', '2181.0']
['168', 'Lesotho', 'LOW', '0.514', '53.1', '12.0', '6.0', '2700.0']
['169', 'Malawi', 'LOW', '0.512', '62.9', '12.7', '4.5', '1466.0']
['170', 'Senegal', 'LOW', '0.511', '67.1', '9.0', '2.9', '3344.0']
['171', 'Djibouti', 'LOW', '0.509', '62.3', '7.4', '4.1', '5025.0']
['172', 'Sudan', 'LOW', '0.508', '65.3', '7.9', '3.8', '3575.0']
['173', 'Madagascar', 'LOW', '0.501', '64.5', '10.1', '5.1', '1484.0']
['174', 'Gambia', 'LOW', '0.5', '62.1', '9.4', '4.6', '2172.0']
['175', 'Ethiopia', 'LOW', '0.498', '65.0', '9.7', '3.2', '2361.0']
['176', 'Eritrea', 'LOW', '0.492', '66.5', '8.1', '4.9', '1729.0']
['177', 'Guinea-Bissau', 'LOW', '0.483', '59.7', '10.6', '3.6', '1908.0']
['178', 'Liberia', 'LOW', '0.481', '60.7', '10.4', '5.1', '1289.0']
['179', 'Congo (Democratic Republic of the)', 'LOW', '0.479', '59.2', '9.8', '7.0', '1076.0']
['180', 'Afghanistan', 'LOW', '0.478', '62.0', '10.3', '3.0', '1824.0']
['181', 'Sierra Leone', 'LOW', '0.477', '60.1', '9.6', '4.6', '1622.0']
['182', 'Guinea', 'LOW', '0.465', '58.9', '9.8', '2.2', '2481.0']
['183', 'Yemen', 'LOW', '0.455', '63.8', '9.1', '3.2', '1314.0']
['184', 'Burkina Faso', 'LOW', '0.449', '59.3', '9.1', '2.1', '2118.0']
['185', 'Mozambique', 'LOW', '0.446', '59.3', '10.2', '3.2', '1198.0']
['186', 'Mali', 'LOW', '0.428', '58.9', '7.4', '2.3', '2133.0']
['187', 'Burundi', 'LOW', '0.426', '61.7', '10.7', '3.1', '732.0']
['188', 'Central African Republic', 'LOW', '0.404', '53.9', '8.0', '4.3', '966.0']
['189', 'Niger', 'LOW', '0.4', '61.6', '7.0', '2.1', '1240.0']
['190', 'Chad', 'LOW', '0.394', '52.5', '8.0', '2.6', '1364.0']
['191', 'South Sudan', 'LOW', '0.385', '55.0', '5.5', '5.7', '768.0']

In [ ]:
f = open(r'/content/clear.csv')

csv_reader1 = csv.reader(f)
print(csv_reader1)

<_csv.reader object at 0x7c51bd5844a0>

In [ ]:
#список категорий человеческого развития для отбора
human_development = ['LOW','MEDIUM ']

#инициализация пустого списка
human_data = []

#пропускает заголовки
next(csv_reader1, None)

#читаем данные из CSV-файла построчно
for row in csv_reader1:
    if(row[2] in human_development):  #проверяем, содержат ли текущие данные выбранную категорию
        row[3] = '{:.1f}%'.format(float(row[3]) * 100) #развитие чел.потенциала превращаем в процентное значение
        human_data.append(row)

#количества строк, соответствующих условиям
print(len(human_data))

#первые 2 строки из human_data
print(human_data[0:2])

76
[['116', 'Philippines', 'MEDIUM ', '69.9%', '69.3', '13.1', '9.0', '8920.0'], ['117', 'Botswana', 'MEDIUM ', '69.3%', '61.1', '12.3', '10.3', '16198.0']]

Загрузка данных в SQL DB

In [ ]:
import sqlite3

#открывает подключение к файлу базы данных SQLite
conn = sqlite3.connect('session.db')

In [ ]:
#удаление существующей таблицы  Life
try:
    conn.execute('DROP TABLE IF EXISTS `Life`')
except Exception as e:
    print(str(e))

In [ ]:
#создание новой таблицы Life
try:
    conn.execute('''
         CREATE TABLE life
         (ID         INTEGER PRIMARY KEY,
         country        TEXT    NOT NULL,
         rank        INTEGER DEFAULT 0,
         index_h        Float DEFAULT 0,
         birth        Float DEFAULT 0);''')
    print ("Table created successfully");
except Exception as e:
    print(str(e))
    print('Table Creation Failed!!!!!')
finally:
    conn.close() #закрывает подключение к базе данных

Table created successfully

In [ ]:
import sqlite3

#устанавливаем соединение с базой данных
conn = sqlite3.connect('session.db')
cursor = conn.cursor()

#выполняем запрос SQL для получения списка таблиц
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

#выводим список таблиц
print("Список таблиц:")
for table in tables:
    print(table[0])

#закрываем соединение с базой данных
conn.close()

Список таблиц:
Crypto
life

In [ ]:
#данные содержат больше информации, чем требуется - исключим часть из них
print(human_data[0])

['116', 'Philippines', 'MEDIUM ', '69.9%', '69.3', '13.1', '9.0', '8920.0']

In [ ]:
#дополнительные преобразования
crypto_sql_data = [(row[1], row[0], row[3], row[4]) for row in human_data]
crypto_sql_data[:2]

[('Philippines', '116', '69.9%', '69.3'), ('Botswana', '117', '69.3%', '61.1')]

In [ ]:
#создание нового подключения для вставки новых данных в базу данных SQL
conn = sqlite3.connect('session.db')
cur = conn.cursor()
try:
    cur.executemany("INSERT INTO life(country, rank, index_h, birth) VALUES (?,?,?,?)", crypto_sql_data)
    conn.commit()
    print('Data Inserted Successfully')
except Exception as e:
    print(str(e))
    print('Data Insertion Failed')
finally:
    conn.close()

Data Inserted Successfully

In [ ]:
#чтение данных из БД, чтобы проверить их
conn = sqlite3.connect('session.db')
rows = conn.cursor().execute('Select * from life')

for row in rows:
    print(row)

(1, 'Philippines', 116, '69.9%', 69.3)
(2, 'Botswana', 117, '69.3%', 61.1)
(3, 'Bolivia (Plurinational State of)', 118, '69.2%', 63.6)
(4, 'Kyrgyzstan', 118, '69.2%', 70.0)
(5, 'Venezuela (Bolivarian Republic of)', 120, '69.1%', 70.6)
(6, 'Iraq', 121, '68.6%', 70.4)
(7, 'Tajikistan', 122, '68.5%', 71.6)
(8, 'Belize', 123, '68.3%', 70.5)
(9, 'Morocco', 123, '68.3%', 74.0)
(10, 'El Salvador', 125, '67.5%', 70.7)
(11, 'Nicaragua', 126, '66.7%', 73.8)
(12, 'Bhutan', 127, '66.6%', 71.8)
(13, 'Cabo Verde', 128, '66.2%', 74.1)
(14, 'Bangladesh', 129, '66.1%', 72.4)
(15, 'Tuvalu', 130, '64.1%', 64.5)
(16, 'Marshall Islands', 131, '63.9%', 65.3)
(17, 'India', 132, '63.3%', 67.2)
(18, 'Ghana', 133, '63.2%', 63.8)
(19, 'Micronesia (Federated States of)', 134, '62.8%', 70.7)
(20, 'Guatemala', 135, '62.7%', 69.2)
(21, 'Kiribati', 136, '62.4%', 67.4)
(22, 'Honduras', 137, '62.1%', 70.1)
(23, 'Sao Tome and Principe', 138, '61.8%', 67.6)
(24, 'Namibia', 139, '61.5%', 59.3)
(25, "Lao People's Democratic Republic", 140, '60.7%', 68.1)
(26, 'Timor-Leste', 140, '60.7%', 67.7)
(27, 'Vanuatu', 140, '60.7%', 70.4)
(28, 'Nepal', 143, '60.2%', 68.4)
(29, 'Eswatini (Kingdom of)', 144, '59.7%', 57.1)
(30, 'Equatorial Guinea', 145, '59.6%', 60.6)
(31, 'Cambodia', 146, '59.3%', 69.6)
(32, 'Zimbabwe', 146, '59.3%', 59.3)
(33, 'Angola', 148, '58.6%', 61.6)
(34, 'Myanmar', 149, '58.5%', 65.7)
(35, 'Syrian Arab Republic', 150, '57.7%', 72.1)
(36, 'Cameroon', 151, '57.6%', 60.3)
(37, 'Kenya', 152, '57.5%', 61.4)
(38, 'Congo', 153, '57.1%', 63.5)
(39, 'Zambia', 154, '56.5%', 61.2)
(40, 'Solomon Islands', 155, '56.4%', 70.3)
(41, 'Comoros', 156, '55.8%', 63.4)
(42, 'Papua New Guinea', 156, '55.8%', 65.4)
(43, 'Mauritania', 158, '55.6%', 64.4)
(44, "Côte d'Ivoire", 159, '55.0%', 58.6)
(45, 'Tanzania (United Republic of)', 160, '54.9%', 66.2)
(46, 'Pakistan', 161, '54.4%', 66.1)
(47, 'Togo', 162, '53.9%', 61.6)
(48, 'Haiti', 163, '53.5%', 63.2)
(49, 'Nigeria', 163, '53.5%', 52.7)
(50, 'Rwanda', 165, '53.4%', 66.1)
(51, 'Benin', 166, '52.5%', 59.8)
(52, 'Uganda', 166, '52.5%', 62.7)
(53, 'Lesotho', 168, '51.4%', 53.1)
(54, 'Malawi', 169, '51.2%', 62.9)
(55, 'Senegal', 170, '51.1%', 67.1)
(56, 'Djibouti', 171, '50.9%', 62.3)
(57, 'Sudan', 172, '50.8%', 65.3)
(58, 'Madagascar', 173, '50.1%', 64.5)
(59, 'Gambia', 174, '50.0%', 62.1)
(60, 'Ethiopia', 175, '49.8%', 65.0)
(61, 'Eritrea', 176, '49.2%', 66.5)
(62, 'Guinea-Bissau', 177, '48.3%', 59.7)
(63, 'Liberia', 178, '48.1%', 60.7)
(64, 'Congo (Democratic Republic of the)', 179, '47.9%', 59.2)
(65, 'Afghanistan', 180, '47.8%', 62.0)
(66, 'Sierra Leone', 181, '47.7%', 60.1)
(67, 'Guinea', 182, '46.5%', 58.9)
(68, 'Yemen', 183, '45.5%', 63.8)
(69, 'Burkina Faso', 184, '44.9%', 59.3)
(70, 'Mozambique', 185, '44.6%', 59.3)
(71, 'Mali', 186, '42.8%', 58.9)
(72, 'Burundi', 187, '42.6%', 61.7)
(73, 'Central African Republic', 188, '40.4%', 53.9)
(74, 'Niger', 189, '40.0%', 61.6)
(75, 'Chad', 190, '39.4%', 52.5)
(76, 'South Sudan', 191, '38.5%', 55.0)

In [ ]:
csvfile = open('life.csv', 'w')
csv_writer = csv.writer(csvfile, lineterminator='\r')
#записываем данные в файл
csv_writer.writerow(['country', 'rank', 'index_h', 'birth'])
csv_writer.writerows(crypto_sql_data)
csvfile.close()